@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Oswald:wght@700&display=swap");
:root {
  --brand-grey: #4d4d4d;
  --brand-blue: #414f6b;
  --ff-lato: "Lato", sans-serif;
  --ff-bebas: "Bebas Neue", sans-serif;
  --ff-oswald: "Oswald", sans-serif;
  --fs-16: 16px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.txt-grey {
  color: var(--brand-grey);
}

.txt-blue {
  color: var(--brand-blue) !important;
}

.ff-oswald {
  font-family: var(--ff-oswald);
  font-weight: 900;
}

.ff-bebas {
  font-family: var(--ff-bebas);
}

.ff-lato-reg {
  font-family: var(--ff-lato);
  font-weight: 900;
  font-style: italic;
}

.ff-lato-light {
  font-family: var(--ff-lato);
  font-weight: 300;
}

.ff-lato {
  font-family: var(--ff-lato);
}

.number-text .number {
  font-size: 135px;
  color: #77859e;
}
.number-text .title-text {
  font-size: 32px;
  margin-left: -28px;
  margin-top: 36px;
  color: #414f6b;
}

.cover-container {
  background-image: url("./assets/images/hero-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.sticky-header .logo-text .brand-text {
  font-size: 16px;
  line-height: 1;
}
.sticky-header .nav-link {
  color: var(--brand-blue);
  text-decoration: underline;
}

.history-section .history-container {
  background-image: url("./assets/images/history-banner.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.history-section .slider-bg {
  background-color: rgba(65, 79, 107, 0.95);
}
.history-section .slick-slide img {
  width: 90%;
  margin: auto;
}
.history-section .slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}
.history-section .slick-dots {
  bottom: -38px;
}
.history-section .slick-dots li.slick-active button::before {
  opacity: 0.75;
  color: white;
}

.climb-section .schedule {
  background: rgba(255, 255, 255, 0.55);
}
.climb-section .schedule .schedule-text {
  font: 32px;
}
.climb-section .tab-bg {
  background-color: #414f6b;
}
.climb-section .tab-bg .nav-link {
  background-color: none;
  color: #b0b4be;
  border: 0px;
  border-radius: 0px;
}
.climb-section .tab-bg .nav-link.active {
  background-color: #b0b4be;
  color: #414f6b;
  text-decoration: underline;
}
.climb-section .tab-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 200px);
}
.climb-section .tab-img.mountain1 {
  background-image: url("./assets/images/mountain.jpg");
}
.climb-section .tab-img.mountain2 {
  background-image: url("./assets/images/mountain2.jpg");
}

.footer {
  background: var(--brand-blue);
  position: relative;
}
.footer::before {
  background-color: rgba(65, 79, 107, 0.7294117647);
  background-size: contain;
  content: "";
  height: 65px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
}

@media (max-width: 1440px) {
  .history-section .history-container {
    height: auto;
  }
}
@media (max-width: 992px) {
  .history-section .history-container {
    height: auto;
  }
  .cover-container {
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  .climb-section .schedule {
    width: 25%;
  }
}/*# sourceMappingURL=style.css.map */